@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --font-quickSand: "Quicksand", sans-serif;
  --dark: #242424;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  font-family: var(--font-quickSand);
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  background-color: var(--dark);
}

.App {
  padding: 18px 40px;
  width: 100%;
  max-width: 400px;
  background-color: #ffff;
  border-radius: 16px;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: black;
  border: solid 1px black;
}

.square_o {
  background-color: chartreuse;
}

.square_x {
  background-color: crimson;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.6em;
  color: #000;
  font-family: var(--font-quickSand);
}

.btn {
  text-align: center;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: red;
  border-radius: 15px;
  padding: 0.5rem;
  cursor: pointer;
  color: #ffff;
  font-family: var(--font-quickSand);
}
